html {
  overflow: auto;
}

body {
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

img {
  box-shadow: none;
}

.section {
  padding: 1.5em;
}

span + .material-icons {
  margin-left: 0.25em;
}

.material-icons + span {
  margin-left: 0.25em;
}

.has-pointer {
  cursor: pointer;
}

.no-padding {
  padding: 0 !important;
}

.file-name {
  padding-top: 0.25em;
}

/* custom Scroll bars */
::-webkit-scrollbar {
  width: 10px !important;
  height: 10px !important;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
}

::-webkit-scrollbar-thumb {
  background: #666666;
}

.schedule {
  height: 100%;
  position: relative;
}

.schedule__datepicker {
  position: absolute;
  top: 6px;
  left: 10px;
  z-index: 9;
}

.schedule__dates {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.schedule__today {
  position: absolute;
  top: 5px;
  right: 10px;
  z-index: 9;
}

.vuecal__view-btn {
  color: #FFFFFF !important;
}


.btn.more {
  border: none;
  outline: none;
  background: transparent;
  font-size: 18px;
  font-weight: bold;
  transition: ease-in-out 0.2s;
  cursor: pointer;

  &:hover, &:focus {
    color: #42afb9;
  }
}

.popper {
  padding: 0 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  background: rgba(66, 175, 185, 1) !important;
  border: none !important;
  flex-direction: column !important;

  button {
    border: none;
    padding: 10px 20px;
    background: transparent;
    color: #FFFFFF;
    cursor: pointer;
    width: 100%;
    text-align: left;
    font-size: 14px;

    &:hover {
      background: rgba(0, 0, 0, 0.1);
    }
  }
}

.popper__arrow {
  border-color: transparent transparent rgba(66, 175, 185, 0.7) transparent !important;
}

.vuecal__event-title {
  font-weight: bold;
  margin: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #FFFFFF;
  font-size: 20px;
}

.vuecal__event.leisure {
  border: none;
  box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.09);
  background: rgba(66, 175, 185, 0.02);
  display: block;
  text-align: left;
}
